body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
h1 {
    margin-bottom: 20px;
}
.container, .format-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.output-wrapper, .formatted-output-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Espaço entre a textarea/div e o botão */
}
textarea, .output-wrapper > div, .formatted-output-wrapper > div {
    width: 600px;
    height: 200px;
    margin-bottom: 5px; /* Espaço entre a textarea/div e o botão */
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    overflow: auto;
    white-space: pre-wrap;
}
button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 10px; /* Ajusta a margem para alinhar com as caixas */
}
button:hover {
    background-color: #0056b3;
}
.copy-button {
    width: auto; /* Ajusta a largura ao conteúdo */
    padding: 8px 15px;
}